<?xml version="1.0" encoding="UTF-8"?>
<Server>
    <Service name="Catalina">
        <Connector port="10086"/>
        <Connector port="10087"/>
        <Connector port="10088"/>
        <Engine defaultHost="localhost">
            <Host name="localhost">
                <Context path="/b" docBase="/Volumes/Data/Nutstore/我的坚果云/JavaProjects/Jerrymice/webapps/b" />
                <context path="/javaweb" docBase="/Volumes/Data/javaweb"/>
            </Host>
        </Engine>
    </Service>
</Server>